body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #555;
}

.container {
    position: relative;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas {
    font-size: 26px;
    color: white;
    cursor: pointer;
}
.fas:active{
    font-size: 24px;
}

.form-control {
    width: 50%;
    margin-right: 10px;
}

.dropdown-menu {
    display: block;
    right: 10%;
    top: 25px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-menu-transition {
    opacity: 1;
    transform: translateY(0px);
}